{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center my-3">Savasana Class Timetable</h2>
            <hr>
        </div>
    </div>
    <div class="row">
      <div class="table-responsive my-4">
        <table class="table">
          <thead>
            <tr class="table-heading">
              <th scope="col">Day</th>
              <th scope="col">Class</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Monday</th>
              {% for item in monday %}
                {% if item.product %}
                <td><a href="{% url 'product_info' item.product.id %}" class="timetable-link">{{ item.product }}</a></td>
                  <td>{{ item.time }}</td>
                {% else %}
                  <td>No Class</td>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Tuesday</th>
              {% for item in tuesday %}
                <td><a href="{% url 'product_info' item.product.id %}" class="timetable-link">{{ item.product }}</a></td>
                <td>{{ item.time }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Wednesday</th>
              {% for item in wednesday %}
              <td><a href="{% url 'product_info' item.product.id %}" class="timetable-link">{{ item.product }}</a></td>
                <td>{{ item.time }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Thursday</th>
              {% for item in thursday %}
              <td><a href="{% url 'product_info' item.product.id %}" class="timetable-link">{{ item.product }}</a></td>
                <td>{{ item.time }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Friday</th>
              {% for item in friday %}
              <td><a href="{% url 'product_info' item.product.id %}" class="timetable-link">{{ item.product }}</a></td>
                <td>{{ item.time }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Saturday</th>
              {% for item in saturday %}
                {% if item.product %}
                <td><a href="{% url 'product_info' item.product.id %}" class="timetable-link">{{ item.product }}</a></td>
                  <td>{{ item.time }}</td>
                {% else %}
                  <td>No Class</td>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Sunday</th>
              {% for item in sunday %}
              <td><a href="{% url 'product_info' item.product.id %}" class="timetable-link">{{ item.product }}</a></td>
                <td>{{ item.time }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="{% url 'products' %}" class="btn book-today-btn rounded-1">
          View Classes
        </a>
      </div>
    </div>
</div>



{% endblock %}
