{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center my-3">Savasana Class Timetable</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">

 

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Class</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        {% for item in monday %}
        <td>{{item.product}}</td>
        <td>{{item.time}}</td>
              {% endfor %}
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        {% for item in tuesday %}
        <td>{{item.product}}</td>
        <td>{{item.time}}</td>
              {% endfor %}
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        {% for item in wednesday %}
        <td>{{item.product}}</td>
        <td>{{item.time}}</td>
              {% endfor %}
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        {% for item in thursday %}
        <td>{{item.product}}</td>
        <td>{{item.time}}</td>
              {% endfor %}
      </tr>
      <tr>
        <th scope="row">Friday</th>
        {% for item in friday %}
        <td>{{item.product}}</td>
        <td>{{item.time}}</td>
              {% endfor %}
      </tr>
      <tr>
        <th scope="row">Saturday</th>
        {% for item in saturday %}
        <td>{{item.product}}</td>
        <td>{{item.time}}</td>
              {% endfor %}
      </tr>
      <tr>
        <th scope="row">Sunday</th>
        {% for item in sunday %}
        <td>{{item.product}}</td>
        <td>{{item.time}}</td>
              {% endfor %}
      </tr>
    </tbody>
  </table>


  <table class="table">
    <thead>
      <tr>
        {% for days in timetable%}
        <th scope="col">{{ days.day }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>



{% endblock %}
