{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center my-3">Savasana Class Timetable</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">



    

<table class="table">
    <thead>
      <tr>
        <th scope="col">Days:</th>
        {% for days in timetable  %}
            <th scope="col">{{ days.get_day_display  }}</th> 
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Classes:</th>
        {% for classes in timetable %}
            <td scope="col">{{ classes.product }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="col">Times:</th>
        {% for times in timetable %}
            <td scope="col">{{ times.time }}</td>
        {% endfor %}
      </tr>
      
    </tbody>
    
  </table>
 


{% endblock %}
