{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container cart-container mt-3 mb-2">
    <div class="row">
        <div class="col text-center mt-2 mb-1">
            <h3>Shopping Cart</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive">
                <table class="table table-sm border-light ">
                    <thead class=" my-3">
                        <tr>
                            <th scope="col">
                                <div class="p-1 px-5 my-2">Product</div>
                            </th>
                            <th scope="col">
                                <div class="p-1 px-3 my-2"></div>
                            </th>
                            <th scope="col">
                                <div class="py-1 my-2">Price</div>
                            </th>
                            <th scope="col">
                                <div class="py-1 my-2">Quantity</div>
                            </th>
                            <th scope="col">
                                <div class="py-1 my-2">Total</div>
                            </th>
                            <th scope="col">
                                <div class="py-1 my-2">Remove</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr class="cart-row">
                            <th scope="row" class="w-25 cart-img">
                                {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                            </th>
                            <td class="align-middle">
                                {{ item.product.name }}
                            </td>
                            <td class="align-middle">
                                €{{ item.product.price }}
                            </td>
                            <td class="align-bottom">
                                <p class="my-auto">
                                    <form class="form update-form" method="POST"
                                        action="{% url 'adjust_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="form-group py-0 my-0 qty-adjust">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm"
                                                            data-item_id="{{ product.id }}"
                                                            id="decrement-qty_{{ product.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input my-0 py-0"
                                                        type="number" name="quantity" value="1" min="1" max="99"
                                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm"
                                                            data-item_id="{{ product.id }}"
                                                            id="increment-qty_{{ product.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link"><small>Update</small></a>

                                </p>
                            </td>
                            <td class="align-middle">
                                €{{ item.product.price | calc_subtotal:item.quantity }}
                            </td>
                            <td class="align-middle text-center">

                                <a class="remove-item" id="remove_{{ item.item_id }}"><i
                                        class="fas fa-trash-alt"></i></a>

                            </td>

                        </tr>
                    </tbody>
                    {% endfor %}
                    <tr class="">
                        <td colspan="5" class="cart-summary py-4 text-center">
                            <a href="{% url 'products' %}" class="btn back-btn rounded-1">
                                Browse Classes
                            </a>
                            <a href="{% url 'checkout' %}" class="btn book-today-btn rounded-1">
                                Checkout
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            {% else %}
            <div class="col empty-shopping-cart">
                <p class="lead">There is nothing in the shopping cart</p>
                <a href="{% url 'products' %}" class="btn back-btn">
                    <span>Browse Classes</span>
                </a>
            </div>

            {% endif %}
        </div>

    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<!-- From Boutique Ado to add and remove quantity of products -->

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
