{% load static %}

<!-- About Section -->
<section id="about" class="container-fluid">
    <div class="row mb-5 mt-3"> 
        <div class="about-image col-sm-12 col-md-6">
            <img src="{% static 'images/home_page_class_levels.jpg' %}" alt="person-doing-yoga" class="about-img">
        </div>
        <div class="about-text col-sm-12 col-md-6">
            <div class="text-center mt-3 pb-5">
                <h3 class="mt-5 mb-5 logo-font">About Savasana Yoga</h3>
                <p class="px-5">
                    Yoga promotes a present state of mind, to focus on breathing, and the importance of being mindful.
                    It's a fantastic form of exercise, which can improve flexibility, and balance.
                    <br>
                    <br>
                    Savasana Yoga offers a variety of classes for all difficulty levels.
                    Whether it's your first time, or you're an advanced yogi, we've got a class for you!
                    Experienced, and compassionate teachers, provide full attention to your needs, limitations and goals.
                </p>
                <br>
                <div class="col-sm-12 text-center mt-4">
                    <a href="{% url 'products' %}" class="btn cta-btn btn-lg">
                        <span>View Classes</span>
                        <span class="icon">
                            <i class="fas fa-chevron-right text-white"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>