{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container-fluid home-image-container">
    <div class="homepage_background_image"></div>
</div>

<div class="container-fluid site-features-container my-2 py-2">
    <div class="row mb-1 pb-1">
        <div class="col-sm-12 call-to-action">
            <h1 class="logo-font py-2 my-1"> <em>Keep your mind & body healthy</em> </h1>
            <p class="lead mt-1"><em>Embrace the practice of flow</em></p>
        </div>
        <div class="col-lg-4">
            <div class="site-mission mt-1">
                <h4 class="mission-heading py-2 my-1">
                    Manage Stress
                </h4>
                <p>Yoga is a fantastic way to reduce stress, and improve relaxation.
                    <br>
                    Which leads to a better quality of life. <br>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="site-mission mt-1">
                <h4 class="mission-heading py-2 my-1">
                    Relieve Anxiety
                </h4>
                <p>Yoga promotes a present state of mind, to focus on breathing, 
                   <br> 
                   and the importance of being mindful.
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="site-mission mt-1">
                <h4 class="mission-heading py-2 my-1">
                    Improve Fitness
                </h4>
                <p>Yoga is a fantastic form of exercise, which can improve
                    <br> 
                    flexibility, and balance, and injuries.
                </p>
            </div>
        </div>
        <div class="col-sm-12 text-center py-2 my-2">
            <a href="{% url 'products' %}" class="btn book-today-btn">Book Today</a>
        </div>
    </div>
</div>
<hr>
{% endblock %}
