{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="homepage_background_image"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 call-to-action">
            <h1 class="logo-font py-2 my-1"> <em>Keep your mind & body healthy</em> </h1>
            <p class="lead ">Embrace the practice of flow</p>
            <a href="" class="btn book-today-btn">Book Today</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="site-mission">

            </div>
        </div>
        <div class="col-lg-4">
            <div class="site-mission">

            </div>
        </div>
        <div class="col-lg-4">
            <div class="site-mission">

            </div>
        </div>
    </div>
</div>
{% endblock %}
