<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto py-auto mb-lg-0">
      <li class="nav-item me-2">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown me-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Classes
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown me-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Retreats
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <li><a class="dropdown-item" href="#">111</a></li>
          <li><a class="dropdown-item" href="#">1111</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">111</a></li>
        </ul>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
    
  </div>