<div class="navbar-nav mx-auto">
  <a href="{% url 'home' %}" class="nav-link">Home</a>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="productDropdownMenu" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Classes
    </a>
    <div class="dropdown-menu" aria-labelledby="productDropdownMenu">
      <a class="dropdown-item my-1" href="{% url 'products' %}?category=beginner_class, advanced_class">All Classes</a>
      <a class="dropdown-item my-1" href="{% url 'products' %}?category=beginner_class">Beginner</a>
      <a class="dropdown-item my-1" href="{% url 'products' %}?category=advanced_class">Advanced</a>
    </div>

  </div>
  <a href="{% url 'view_timetable' %}" class="nav-link">Timetable</a>
  <a href="{% url 'view_blog' %}" class="nav-link">Blog</a>
</div>