<!-- Allows admin users to edit or delete blog post -->
{% if request.user.is_superuser %}
    <a href="{% url 'edit_blog_post' blog_post.id %}" class="btn btn-sm btn-outline-secondary me-2">Edit Blog Post</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" 
                data-bs-target="#deleteBlogPost-{{ blog_post.id }}">
        Delete
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteBlogPost-{{ blog_post.id }}" tabindex="-1" aria-labelledby="deleteBlogPostLabel-{{ blog_post.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBlogPostLabel-{{ blog_post.id }}">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ blog_post.title }}</strong>? This action is cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_blog_post' blog_post.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}