{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h2 class="logo-font text-center my-3">Savasana Blog</h2>
            <hr>
        </div>
    </div>

    {% for posts in blog_posts %}
    <div class="row my-3">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ posts.title }}</h5>
                    <small> <p class="text-muted blog-info">By: {{ posts.author }} <br> Posted: {{ posts.created_on }} </p></small>
                    <p class="blog-post-snipper">{{ posts.snippet }}</p>
                    <a href="{% url 'blog_post_detail' posts.id  %}" class="btn book-today-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
