    <!-- Displays all comments on blog post -->
    {% for comment in comments %}
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 my-2 card comment-card">
            <div class="card-body">
                <div class="comments">
                    <p>
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span><strong>{{ comment.author }}</strong></span> 
                        <span class=" text-muted">
                            - {{ comment.created_on }}
                        </span>
                    </p>
                    <p>
                        {{ comment.body | linebreaks }}
                    </p>
                    <!-- Allows comment author or admin to edit and delete comments -->
                    {% if request.user.is_superuser or request.user == comment.author %}
                        <div class="comment-actions">
                            {% if request.user.is_superuser %}
                                <a class="btn btn-sm btn-outline-secondary mx-1" href="{% url 'edit_comment' comment.id %}">Edit</a>
                            {% endif %}
                                <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-danger mx-1" data-bs-toggle="modal" 
                            data-bs-target="#deleteComment-{{ comment.id }}">
                                Delete
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteComment-{{ comment.id }}" tabindex="-1" aria-labelledby="deleteCommentLabel-{{ comment.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteCommentLabel">Delete Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this comment? This action is cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a class="btn btn-sm btn-outline-danger mx-1" href="{% url 'comment_remove' comment.id  %}">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}