{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <h3 class="blog-heading mt-4 mb-3">{{ blog_post.title }}</h3>
            
            <small> <p class="text-muted blog-info">By: {{ blog_post.author }} <br> Posted: {{ blog_post.created_on }} </p></small>
            <hr>
            {% if request.user.is_superuser %}
                <small class="me-3">
                    <a href="{% url 'edit_blog_post' blog_post.id %}">Edit Blog Post</a> 
                </small>
                <small class="me-3">
                    <a href="{% url 'delete_blog_post' blog_post.id %}">Delete Blog Post</a>
                </small>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <p>{{ blog_post.content|linebreaks }}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <div class="lead">
                {{ comments.count }} Comments
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        {% for comment in comments %}
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 my-2 card comment-card">
                <div class="card-body">
                    <div class="comments">
                        <p>
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span><strong>{{ comment.name }}</span></strong> 
                            <span class=" text-muted">
                                - {{ comment.created_on }}
                            </span>
                        </p>
                        <p>
                            {{ comment.body | linebreaks }}
                        </p>
                    </div>
                </div> 
            </div>
            {% endfor %}
            {% if new_comment %}
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 my-3">
                    <div class="alert alert-success header-font" role="alert">
                        Your comment is awaiting admin approval.
                    </div>
                </div>
                {% else %}
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 mt-5 mb-1">
                    <h6 class="comment-heading">Leave a comment</h6>
                </div>
                
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 mt-1 mb-3 card comment-card">
                    <div class="card-body">
                        <form method="POST" class="mt-4">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn book-today-btn mx-auto">
                                <span>Submit</span>
                                <span class="icon">
                                    <i class="fas fa-paper-plane text-white"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 my-2 end-of-blog-post">
            <a href="{% url 'view_blog' %}" class="btn back-btn">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>View All Posts</span>
            </a>
               
        </div>
    </div>
</div>
  

{% endblock %}
