{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h2 class="logo-font text-center my-3">Savasana Blog</h2>
            <!-- Displays Add Blog Post button for admin users -->
            {% if request.user.is_superuser %}
                <div class="col-sm-12 text-center"> 
                    <a href="{% url 'add_blog_post' %}" class="add-blog-post-link">
                        Add Blog Post <i class="fas fa-pencil-alt ms-1"></i>
                    </a>
                </div>
            {% endif %}
            <hr>
        </div>
    </div>
    {% include "blog/blog-posts.html" %}
</div>

{% endblock %}
