{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <h3 class="blog-heading mt-4 mb-3">{{ blog_post.title }}</h3>
            
            <small> <p class="text-muted blog-info">By: {{ blog_post.author }} <br> Posted: {{ blog_post.created_on }} </p></small>
            <hr>
        </div>
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <p>{{ blog_post.content|linebreaks }}</p>
        </div>
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 my-2 end-of-blog-post">
            <a href="{% url 'view_blog' %}" class="btn back-btn">View All Posts</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <div class="lead">
                {{ comments.count }} Comments
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        {% if comments %}
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 my-2 card">
                <div class="card-body">
                    {% for comment in comments %}
                        <div class="comments">
                            <p>
                                {{ comment.name }}
                                <span class=" text-muted">
                                    - {{ comment.created_on }}
                                </span>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 my-2">
                <h6>There are currently no comments for this post.</h6>
            </div>
        {% endif %}

    </div>
</div>
  

{% endblock %}
