{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                <hr>
                <h2 class="logo-font text-center">Blog Management</h2>
                <hr>
                <p class="lead text-center">
                    Edit a Blog Post
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                <form method="POST" action="{% url 'edit_blog_post' blog_post.id %}" class="form my-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn back-btn rounded-1" href="{% url 'view_blog' %}">Cancel</a>
                        <button class="btn book-today-btn rounded-1" type="submit">Edit Blog</button>
                        <a href="{% url 'delete_blog_post' blog_post.id %}">Delete Blog Post</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}