{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container error-container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 mb-2 text-center">
            <h1 class="pt-3 text-center">Oops</h1>
            
            <p class="mt-3 lead text-center">Error 404, something went wrong!
                <br>
                The page you're looking for no longer exists. 
            </p>
                <a href="{% url 'home' %}" class="btn cta-btn">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}