{% extends "base.html" %}
{% load static %}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4 mt-4 logo-font text-center">Thank You for your Message!</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 text-center mt-2">
                <a href="{% url 'products' %}" class="btn back-btn my-2">
                    <span>View Products</span>
                </a>
        </div>
    </div>
</div>
{% endblock %}

