{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-auto text-center">
                <h3 class="mt-2 pt-2 heading-text">All Products</h3>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-6 my-auto d-flex justify-content-start">
                <p class="text-muted mt-3 ">
                    <!-- From Boutique Ado Project to show number of products -->
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for
                    <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
                
            </div>
            <div class="col-6 my-auto d-flex justify-content-end">
                <!-- From Boutique Ado Project to display sort selector -->
                <div class="sort-select-wrapper">
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="product-container col my-2">
                <div class="row">
                    <!-- From Boutique Ado Project to display Product Images via Template Tags -->
                    {% for product in products %}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-4 px-3">
                            <div class="card border">
                            {% if product.image %}
                                <a href="{% url 'product_info' product.id %}">
                                    <img src="{{ product.image.url }}" class="img-fluid card-img-top card-img" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_info' product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid card-img-top" alt="{{ product.name }}">
                                </a>
                            {% endif %}  
                                <div class="card-body mb-0 pb-0">
                                  <p class="card-text lead">{{ product.name }}</p>
                                  <p class="card-text blockquote-footer mt-2"><em>This line rendered as italicized text.</em></p>
                                </div>
                                <div class="card-footer bg-transparent border-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item product-card-list-item">
                                            {% if product.category %}
                                                <small>
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        {{ product.category.friendly_name }}
                                                    </a>
                                                </small>                                                
                                            {% endif %}
                                        </li>
                                        <li class="list-group-item product-card-list-item">
                                            <small>€{{ product.price }}</small> 
                                        </li>
                                        <li class="list-group-item product-card-list-item">
                                            {% if product.rating %}
                                                <small class="text-secondary">
                                                    <i class="fas fa-star"> {{ product.rating}} / 5</i>
                                                </small>
                                            {% else %}
                                                <small>
                                                    No Rating
                                                </small>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                               
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- From Boutique Ado to update window location based on sort selector box -->
{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}