{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-auto text-center">
                <hr>
                <h2 class="logo-font heading-text">Classes</h2>
                <hr>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <!-- From Boutique Ado Project to display sort selector -->
                <div class="sort-select-wrapper">
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first ">
                <p class="text-muted mt-3 text-center float-md-start">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}" class="muted-anchor-link">All Classes</a> | </span>
                    {% endif %}
                    {{ products|length }} Classes {% if search_term %} found for
                    <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        
        <hr>
        <div class="row">
            <div class="product-container col my-2">
                <div class="row">
                    <!-- From Boutique Ado Project to display Product Images via Template Tags -->
                    {% for product in products %}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-4 px-3">
                            <div class="card product-card border">
                            {% if product.image %}
                                <a href="{% url 'product_info' product.id %}">
                                    <img src="{{ product.image.url }}" class="img-fluid card-img-top card-img" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_info' product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid card-img-top" alt="{{ product.name }}">
                                </a>
                            {% endif %}  
                                <div class="card-body mb-0 pb-0">
                                    <a href="{% url 'product_info' product.id %}" class="product-heading-text-link">
                                        <p class="card-text lead product-link">{{ product.name }}</p>
                                    </a>
                                  
                                {% if product.tagline %}
                                    <p class="card-text blockquote-footer mt-2"><em>{{ product.tagline }}</em></p>
                                {% endif %}
                                </div>
                                <div class="card-footer bg-transparent border-0">
                                    <div class="d-flex flex-column mb-1 mt-1">
                                        {% if product.category %}
                                            <p>
                                                <small>
                                                    <a class="text-muted category-link" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        {{ product.category.friendly_name }}
                                                    </a>
                                                </small>
                                            
                                        {% endif %}
                                        
                                        <p>
                                            <small>
                                                €{{ product.price }}
                                            </small> 
                                        </p>
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-outline-secondary me-2">Edit</a>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" 
                                        data-bs-target="#deleteProduct-{{ product.id }}">
                                            Delete
                                        </button>


                                        <!-- Modal -->
                                        <div class="modal fade" id="deleteProduct-{{ product.id }}" tabindex="-1" aria-labelledby="deleteProductLabel-{{ product.id }}" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteProductLabel">Delete Confirmation</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete <strong>{{ product.name }}</strong>? This action is cannot be undone.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                </div>
                               
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- From Boutique Ado to update window location based on sort selector box -->
{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

    <script>
        $('.product-card').hover(
            function () {
                $(this).addClass("card-hover");
            },
            function () {
                $(this).removeClass("card-hover");
            }
        );
    </script>
{% endblock %}