{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <!-- Displays individual product information -->
            <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center my-2">
                <h4 class="text-black mt-2 pt-1">{{ product.name }}</h4>
                {% if product.number_of_sessions %}
                    <p class="text-muted information-text"><span class="me-2"></span> Number of classes: {{ product.number_of_sessions }}</p>
                {% endif %}
                
                {% if product.category %}
                        <span><p class="small">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                {{ product.category.friendly_name }}
                            </a>
                        </p></span>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row py-2 d-flex">
            <div class="col-sm-12 col-lg-6 pt-3 ">
                <div class="product-image-container">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img src="{{ product.image.url }}" class=" card-img-top card-img" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_info' product.id %}">
                            <img class="card-img-top " src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}  
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 product-info-container ">
                <div class="py-2 ms-2">
                    <h6 class="mt-2">Class Description</h6>
                    <p class="text-sm-start  my-1 py-1">
                        {{ product.description|linebreaksbr }}
                    </p>
                    
                    <h6 class="mt-3"> Timetable Information</h6>
                    <p>
                        Day: {{ product.get_day_display }}
                        <br>
                        Time: {{ product.class_time}}
                        <br>
                        <br>
                        <a href="{% url 'view_timetable' %}" class="timetable-link">
                            <i class="far fa-calendar-alt"></i> View Timetables
                        </a>
                    </p>
                    <strong><p class="my-1 pb-1 text-sm-start">€{{ product.price }}</p></strong>

                    <!-- Allows admin user to edit and delete a product -->
                    {% if request.user.is_superuser %}
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-outline-secondary me-2">Edit</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" 
                        data-bs-target="#deleteProduct-{{ product.id }}">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteProduct-{{ product.id }}" tabindex="-1" aria-labelledby="deleteProductLabel-{{ product.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteProductLabel">Delete Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete <strong>{{ product.name }}</strong>? This action is cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                <!-- Form to add product to cart -->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 text-sm-start ms-2">
                            <div class="form-group py-0 my-0 qty-adjust">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input qty-product-page my-0 py-0" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 cart-col-buttons text-sm-start ms-2">
                            <a href="{% url 'products' %}" class="btn back-btn rounded-1 mt-4" role="button">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>All Classes</span>
                            </a>
                            <input type="submit" class="btn book-today-btn rounded-1 mt-4" value="Add to cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}