{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center my-3">Savasana Class Timetable</h2>
            <hr>
        </div>
    </div>
    <div class="row">
      <div class="table-responsive my-4">
        <table class="table">
          <thead>
            <tr class="table-heading">
              <th scope="col">Day</th>
              <th scope="col"></th>
              <th scope="col">Class</th>
              <th scope="col">Morning Time</th>
              <th scope="col">Evening Time</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <th cope="row">{{ product.get_day_display }}</th>
              <td></td>
              <td><a href="{% url 'product_info' product.id %}" class="timetable-link">{{ product.name }}</a></td>
              <td>{{ product.morning_time }}</td>
              <td>{{ product.evening_time }}</td>
            </tr>
            {% empty %}
            <tr>
              <td>There are currently no classes</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="{% url 'products' %}" class="btn book-today-btn rounded-1">
          View Classes
        </a>
      </div>
    </div>
</div>





{% endblock %}