<div class="toast custom-toast hide rounded-1" role="alert" aria-live="assertive" aria-atomic="true"
    data-bs-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr>
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="mt-1 mb-3">Your Cart ({{ product_count }})</p>
            <div class="cart-notification-wrapper">
                {% for item in cart_items %}
                    <div class="row mb-3 mt-2">
                        <div class="col-3 my-1">
                            {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Quantity: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr>
            </div>
            <div class="row my-1">
                <div class="col">
                    <em>
                        <p>
                        Total: 
                        <span class="float-right">€{{ total|floatformat:2 }}</span>
                        </p>
                    </em>
                    <hr>
                    <a href="{% url 'view_cart' %}" class="btn btn-primary btn-sm rounded-1">
                        <span>Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock fa-sm"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>